@use 'sass:math';

.Overlay {
    position: fixed;
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 4;
    perspective: 1000px;
}

.Modal {
    position: absolute;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white-color);
    width: 350px;
    height: 400px;
    border-radius: 5px;
    margin-top: 80px;
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 10px;
    z-index: 5;
}

.Input {
    border: 1px solid #d0cece;
    border-radius: 5px;
    height: 24px;
    width: 250px;
    font-family: system-ui;
    padding: 4px 8px;
}

.SelectModal {
    border: 1px solid #d0cece;
    border-radius: 5px;
    width: 270px;
    font-family: system-ui;
    padding: 4px 8px;
}

.Label {
    font-family: system-ui;
    font-size: 0.8rem;
    color: #565656;
    text-align: center;
    padding-right: 4px;
}

.InputDesc {
    border: 1px solid #d0cece;
    border-radius: 5px;
    height: 48px;
    width: 450px;
    font-family: system-ui;
    padding: 4px 8px;
    text-align: center;
    margin-bottom: 8px;
    word-wrap: break-word;
    white-space: break-spaces;
}

.ModalDesc {
    position: absolute;
    margin: auto;
    background-color: var(--white-color);
    width: 580px;
    height: fit-content;
    border-radius: 5px;
    margin-top: 20px;
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 10px;
    z-index: 5;
    padding: 16px;
}

.ModalBtn {
    transform-style: preserve-3d;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 5px;
    width: 260px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: box-shadow 100ms ease-in-out;
}

.ModalBtn:hover {
    box-shadow: 0px 5px 15px -1px #222222;
  }

.Confetti {
    position: absolute;
    inset: 50%;
    transform-style: preserve-3d;
    opacity: 0;
}

@function halfNegative($value, $units) {
    @return calc($value / 2) - math.random(math.div($value, $units))
}

.Confetti > span {
    $horizontal-max: 70vw;
    $vertical-max: 45vh;
    $base-hue: 1;
    $hue-variation: 100;
    $max-width: 20px;
    $min-width: 5px;
    $shape: .5; // 0 === circles, 0.5 === mix; 1== squares;
    $max-depth: 500px;
    $max-spin: 10;

    position: absolute;
    width: max(var(--confetti-size), $min-width);
    aspect-ratio: 1;
    background-color: hsl(var(--hue) 100% 50%);
    border-radius: var(--shape);

    @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
            --offsetY: #{halfNegative($vertical-max, 1vh)};
            --offsetX: #{halfNegative($horizontal-max, 1vw)};
            --offsetZ: #{halfNegative($max-depth, 1vw)};
            --hue: #{$base-hue + halfNegative($hue-variation, 1)};
            --confetti-size: #{math.random($max-width)}px;
            --shape: #{(math.random() - $shape) * 100vw};
            --spin: #{(math.random($max-spin))}turn;
        }
    }
}

.Explosion {
    animation: confettiSettle 5s;
}

.Explosion  > span {
    animation: confettiSpread 5s cubic-bezier(0, 0.8, 1, 1);
}

@keyframes confettiSpread {
    25% {
        translate: 0 -25vh;
    }
    100% {
        translate: 0 -25vh;
        transform: translateY(var(--offsetY))
                    translateZ(var(--offsetZ))
                    translateX(var(--offsetX))
                    rotateX(var(--spin));
    }
}

@keyframes confettiSettle {
    0%, 70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(50vh);
    }
}